<html>
<head>
    <title>Homework</title>
    <meta charset="utf-8">
    <style type="text/css">
        body {
            font: 10px sans-serif;
        }
        .linage {
            fill: none;
            stroke: #000;
        }
        .marriage {
            fill: none;
            stroke: black;
        }
        .man {
            background-color: lightblue;
            border-style: solid;
            border-width: 1px;
        }
        .woman {
            background-color: pink;
            border-style: solid;
            border-width: 1px;
        }
        .emphasis{
            font-style: italic;
        }
        p {
            padding:0;
            margin:0;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.rawgit.com/ErikGartner/dTree/2.0.2/dist/dTree.min.js"></script>
</head>
<body>
<h1>Family Tree</h1>
<div id="graph"></div>
<script>
    treeData = $treeData

    dTree.init(treeData, {
        target: "#graph",
        debug: true,
        height: 800,
        width: 1600
    });
</script>
</body>
</html>
